.Sections {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;

  p {
    font-family: var(--font-sf-mono);
    font-weight: 400;
    font-size: 1rem;
    color: #fff;

    display: block;
  }

  h2 {
    font-family: var(--font-reglo);
    width: 100%;
    font-weight: 700;
    font-size: 5rem;
    letter-spacing: 0.3rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
}

.sections-container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: row;
  justify-content: center;

  border-top: 1px solid #ffffff0a;
  padding-top: 3rem;
}
