.Slider {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  align-items: center;

  border-bottom: 1px solid #ffffff43;

  padding-bottom: 3rem;

  .sidebar {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
  }

  .poster {
    width: 100%;
    aspect-ratio: 9 / 13;
    position: relative;

    &:not(.active)::after {
      content: "...";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6); // semi-transparent overlay
      color: white; // make the text visible
      display: flex; // center the text
      align-items: center;
      justify-content: center;
      font-family: var(--font-sf-pro-bold);
      font-size: 1.2rem;
      letter-spacing: 0.2rem;
      font-weight: bold;
      z-index: 99;
      pointer-events: none;
      text-transform: uppercase;
    }

    .poster-image {
      object-fit: contain;
      transition: filter 0.3s ease;

      filter: saturate(0);

      &.active {
        &:hover {
          filter: saturate(1);
          cursor: pointer;
        }
      }
    }
  }

  p {
    font-family: sans-serif;
    font-size: 1rem;
    color: #fff;
    text-align: left;
    line-height: 150%;

    display: block;
  }

  h2 {
    font-family: var(--font-sf-pro-bold);
    width: 100%;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    margin-top: 3rem;
  }
}

@media (max-width: 575px) {
  .Slider {
    .sidebar {
      flex-direction: column;
    }

    .poster {
      .poster-image {
        object-fit: contain;
        transition: filter 0.3s ease;

        filter: saturate(0);

        &.active {
          &:hover {
            filter: saturate(1);
            cursor: pointer;
          }
        }
      }
    }
  }
}
