.Navbar {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;

  .link {
    font-family: var(--font-reglo);
    font-weight: 700;
    font-size: 2rem;
    color: #ffffff97;
    transition: color 0.3s ease;

    text-transform: uppercase;

    &.active {
      color: #fff;
      text-decoration: underline;
    }

    &:hover {
      color: #fff;
      cursor: pointer;
    }
  }
}
