.container {
  width: 100%;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  padding: 0 2rem;

  margin-bottom: 2rem;

  .header-container {
    width: 100%;
    text-align: center;

    border-bottom: 1px solid #ffffff0a;

    h1 {
      display: inline-block;

      //font-family: var(--font-humane);
      font-family: var(--font-humane-regular);
      //font-family: "humaneBold", sans-serif;
      font-weight: 400;
      //font-weight: 700;
      font-size: 5rem;
      font-size: clamp(
        5rem,
        -4.9710982658959555rem + 27.745664739884397vw,
        20rem
      );
      letter-spacing: 2rem;
      letter-spacing: clamp(1rem, -4.9710982658959555rem + 22.7457vw, 2rem);
      line-height: normal;

      transform: translateX(
        clamp(1rem, -4.9710982658959555rem + 16.7457vw, 1.25rem)
      );

      color: #fff;
    }
  }
}

.Footer {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;

  a {
    color: #fff;
    font-family: var(--font-sf-pro-bold);
    font-weight: 700;
    letter-spacing: 1%;
    text-decoration: none;
  }
}
